---
layout: home
title: "Bê Tông Thương Phẩm Chất Lượng Cao An Gia Bình"
meta-title: "Bê Tông Thương Phẩm Chất Lượng Cao An Gia Bình"
description: ""
meta-description: ""
meta-keywords: ""
redirect_from:
    - /index.php/
---
				


				<div class="promo promo-light promo-full promo-uppercase p-5 mb-6 header-stick">
					<div class="container">
						<div class="row align-items-center">
							<div class="col-12 col-lg">
								<h3 style="letter-spacing: 2px;">“Bê tông chất lượng cao, đúng tiến độ, giá cạnh tranh”</h3>
								<span>Bê Tông An Gia Bình luôn hướng tới khách hàng bằng những nỗ lực cao nhất để thực hiện cam kết là sự hài lòng trong từng sản phẩm và dịch vụ</span>
							</div>
							<div class="col-12 col-lg-auto mt-4 mt-lg-0">
								<a href="/lien-he/" class="button button-large button-circle button-black m-0">LIÊN HỆ</a>
							</div>
						</div>
					</div>
				</div>

				<div class="container">

				<h1 class="heading-block border-bottom-0 mb-4 text-center" data-animate="fadeIn">
					<div class="text-rotater" data-separator="|" data-rotate="bounceIn" data-speed="1500">
						BÊ TÔNG AN GIA BÌNH <span class="d-inline nocolor"><span class="t-rotate color">AN TOÀN|CHẤT LƯỢNG|TIẾN ĐỘ|HIỆU QUẢ</span></span>
					</div>
					<div class="divider divider-sm divider-border divider-center"><i class="bi-gem"></i></div>					
				</h1>


					<div class="row justify-content-center col-mb-50" data-animate="fadeIn">
						<div class="col-sm-6 col-lg-4">
							<div class="feature-box media-box">
								<div class="fbox-media">
									<img class="rounded" src="images/be-tong-tuoi-angiabinh.jpg" alt="Bê tông tươi An Gia Bình">
								</div>
								<div class="fbox-content px-0">
									<h3>Bê Tông Tươi<!--span class="subtitle">Bê tông thương phẩm</span--></h3>
									<p>An Gia Bình chuyên cung cấp bê tông thương phẩm chất lượng cao. Báo giá cạnh tranh nhất thị trường...</p>
								</div>
							</div>
						</div>

						<div class="col-sm-6 col-lg-4">
							<div class="feature-box media-box">
								<div class="fbox-media">
									<img class="rounded" src="images/bom-be-tong-angiabinh.jpg" alt="Bơm Bê tông An Gia Bình">
								</div>
								<div class="fbox-content px-0">
									<h3>Bơm Bê Tông</h3>
									<p>Dịch Vụ Bơm Bê Tông: Bơm Cần; Bơm Tĩnh; Cần Phân Phối...chuyên nghiệp.</p>
								</div>
							</div>
						</div>

						<div class="col-sm-6 col-lg-4">
							<div class="feature-box media-box">
								<div class="fbox-media">
									<img class="rounded" src="images/dich-vu-khac-be-tong-an-gia-binh.jpg" alt="Dịch vụ khác của Bê tông An Gia Bình">
								</div>
								<div class="fbox-content px-0">
									<h3>Sản Phẩm Dịch Vụ Khác</h3>
									<p>Dịch Vụ Ép Cọc Bê Tông; Nhân Công Làm Mặt Bê Tông; Thi Công Sơn Epoxy…</p>
								</div>
							</div>
						</div>
					</div>

				</div>
			</br>

				<div class="container">

					<div class="row align-items-stretch col-mb-50">
						<div class="col-lg-4 col-md-6" data-animate="fadeIn">
							<div class="feature-box fbox-plain">
								<div class="fbox-icon">
									<img src="/images/check-mark.png" alt="Bê tông An Gia Bình">
								</div>
								<!--div class="fbox-icon">
									<i class="fa-solid fa-check"></i></a>
								</div-->
								<div class="fbox-content">
									<h3>Chất lượng hàng đầu</h3>
									<p>Với hệ thống điện tử tự động đảm bảo sản phẩm chất lượng cao, ổn định</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6" data-animate="fadeIn" data-delay="200">
							<div class="feature-box fbox-plain">
								<div class="fbox-icon">
									<img src="/images/check-mark.png" alt="Bê tông An Gia Bình">
								</div>
								<div class="fbox-content">
									<h3>Giá cả cạnh tranh</h3>
									<p>Giá cả luôn phù hợp, tiết kiệm nhất cho khách hàng</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6" data-animate="fadeIn" data-delay="400">
							<div class="feature-box fbox-plain">
								<div class="fbox-icon">
									<img src="/images/check-mark.png" alt="Bê tông An Gia Bình">
								</div>
								<div class="fbox-content">
									<h3>Chủ động nguồn vật liệu</h3>
									<p>Công ty đảm bảo đầu vào có xuất xứ, nguồn gốc rõ ràng</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6" data-animate="fadeIn" data-delay="600">
							<div class="feature-box fbox-plain">
								<div class="fbox-icon">
									<img src="/images/check-mark.png" alt="Bê tông An Gia Bình">
								</div>
								<div class="fbox-content">
									<h3>Dịch vụ hoàn hảo</h3>
									<p>Đội ngũ kỹ sư, giám sát, tư vấn kỹ thuật kinh nghiệm, nhiệt huyết và chuyên nghiệp</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6" data-animate="fadeIn" data-delay="800">
							<div class="feature-box fbox-plain">
								<div class="fbox-icon">
									<img src="/images/check-mark.png" alt="Bê tông An Gia Bình">
								</div>
								<div class="fbox-content">
									<h3>Tiện lợi, kịp thời</h3>
									<p>Dễ dàng sử dụng, tiết kiệm chi phí và thời gian thực hiện công trình</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6" data-animate="fadeIn" data-delay="1000">
							<div class="feature-box fbox-plain">
								<div class="fbox-icon">
									<img src="/images/check-mark.png" alt="Bê tông An Gia Bình">
								</div>
								<div class="fbox-content">
									<h3>Các yêu cầu đặc biệt</h3>
									<p>Đáp ứng mọi nhu cầu về tiêu chuẩn kỹ thuật, thời gian và tiến độ của khách hàng</p>
								</div>
							</div>
						</div>
					</div>

				</div>

				<div class="section mb-0"  data-animate="fadeIn">
					<h2 class="text-center mb-0 ls-1">CÁC DỰ ÁN TIÊU BIỂU BÊ TÔNG AN GIA BÌNH CUNG CẤP</h2>
				</div>

				<div id="portfolio" class="portfolio row g-0" data-animate="fadeIn">

					{% for post in site.categories.du-an limit:8 %}
					<article class="portfolio-item col-12 col-sm-6 col-md-4 col-lg-3 pf-illustrations">
						<div class="grid-inner">
							<div class="portfolio-image">
								<img src="{{ site.url }}{{ post.image }}" alt="Wavelength Structure">
								<div class="bg-overlay">
									<div class="bg-overlay-content dark" data-hover-animate="fadeIn">
										<a href="{{ site.url }}{{ post.url }}" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="zoomIn" data-hover-animate-out="zoomOut" data-hover-speed="350"><i class="uil uil-ellipsis-h"></i></a>
									</div>
									<div class="bg-overlay-bg dark" data-hover-animate="fadeIn"></div>
								</div>
							</div>
							<div class="portfolio-desc">
								<h3><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h3>
								<span>{{ post.location }}</span>
							</div>
						</div>
					</article>
					{% endfor %} 

				</div>

				<a data-animate="fadeIn" href="portfolio.html" class="button button-3d border-bottom-0 button-full text-center text-end mb-6 fw-light font-primary" style="font-size: 26px;">
					<div class="container">
						QUYẾT ĐỊNH CỦA BẠN - TRÁCH NHIỆM CỦA CHÚNG TÔI <strong>NHẬN BÁO GIÁ</strong> <i class="uil uil-angle-right-b" style="top:3px;"></i>
					</div>
				</a>

				<div class="container mt-6 cleafix" data-animate="fadeIn">

					<div class="row col-mb-50">
						<div class="col-md-8">

							<ul class="nav canvas-tabs tabs nav-tabs nav-fill mb-3" id="construction-tabs" role="tablist" style="--bs-nav-link-font-weight: 500;">
								<li class="nav-item" role="presentation">
									<button class="nav-link active" id="construction-tab-1" data-bs-toggle="pill" data-bs-target="#tab-1" type="button"
										role="tab" aria-controls="construction-tab-1" aria-selected="true">Về An Gia Bình</button>
								</li>
								<!--li class="nav-item" role="presentation">
									<button class="nav-link" id="construction-tab-2" data-bs-toggle="pill" data-bs-target="#tab-2" type="button"
										role="tab" aria-controls="construction-tab-2" aria-selected="false">Kết Nối</button>
								</li>
								<li class="nav-item" role="presentation">
									<button class="nav-link" id="construction-tab-3" data-bs-toggle="pill" data-bs-target="#tab-3"
										type="button" role="tab" aria-controls="construction-tab-3" aria-selected="false">Đội Ngũ</button>
								</li>
								<li class="nav-item" role="presentation">
									<button class="nav-link" id="construction-tab-4" data-bs-toggle="pill" data-bs-target="#tab-4"
										type="button" role="tab" aria-controls="construction-tab-4" aria-selected="false">Trụ Sở</button>
								</li-->
							</ul>

							<div id="canvas-TabContent" class="tab-content">

								<div class="tab-pane show active" id="tab-1" role="tabpanel" aria-labelledby="canvas-tab-1" tabindex="0">
									<p>Với hệ thống trạm trộn (3 trạm và các trạm liên kết), được nhập khẩu theo công nghệ hiện đại, công suất mỗi trạm từ 90-180m³/h. Chúng tôi cam kết phục vụ khách hàng tốt nhất với phương châm “Bê tông chất lượng cao, đúng tiến độ, giá cạnh tranh”.</p>
									<div class="row col-mb-30">
										<div class="col-sm-6 col-lg-3 text-center">
											<div class="counter ls-1 fw-semibold" style="color: #D2D2D2;"><span data-from="100" data-to="264" data-refresh-interval="50" data-speed="2000"></span></div>
											<h5>Công trình</h5>
										</div>

										<div class="col-sm-6 col-lg-3 text-center">
											<div class="counter ls-1 fw-semibold" style="color: #D2D2D2;"><span data-from="100" data-to="64" data-refresh-interval="50" data-speed="2500"></span></div>
											<h5>Nhân viên</h5>
										</div>

										<div class="col-sm-6 col-lg-3 text-center">
											<div class="counter ls-1 fw-semibold" style="color: #D2D2D2;"><span data-from="100" data-to="178" data-refresh-interval="50" data-speed="3500"></span></div>
											<h5>Đối Tác</h5>
										</div>

										<div class="col-sm-6 col-lg-3 text-center">
											<div class="counter ls-1 fw-semibold" style="color: #D2D2D2;"><span data-from="14" data-to="11" data-refresh-interval="15" data-speed="2700"></span></div>
											<h5>Tỉnh thành</h5>
										</div>
									</div>
								</div>

							</div>

						</div>

						<div class="col-md-4">

							<div class="widget quick-contact-widget form-widget">
								<h4>Liên hệ nhanh</h4>
								<div class="form-result"></div>
								<form id="quick-contact-form" name="quick-contact-form" action="include/form.php" method="post" class="quick-contact-form mb-0">
									<div class="form-process">
										<div class="css3-spinner">
											<div class="css3-spinner-scaler"></div>
										</div>
									</div>
									<input type="text" class="required form-control mb-2" id="quick-contact-form-name" name="quick-contact-form-name" value="" placeholder="Họ và tên">
									<input type="text" class="required form-control email mb-2" id="quick-contact-form-email" name="quick-contact-form-email" value="" placeholder="Địa chỉ Email">
									<textarea class="required form-control mb-2 short-textarea" id="quick-contact-form-message" name="quick-contact-form-message" rows="4" cols="30" placeholder="Lời nhắn"></textarea>
									<input type="text" class="d-none" id="quick-contact-form-botcheck" name="quick-contact-form-botcheck" value="">
									<input type="hidden" name="prefix" value="quick-contact-form-">
									<button type="submit" id="quick-contact-form-submit" name="quick-contact-form-submit" class="button button-small button-3d m-0" value="submit">Gửi email</button>
								</form>

							</div>

						</div>
					</div>

					<div class="line"></div>

					<div class="row col-mb-50" data-animate="fadeIn">

						<h4>Tin Tức - Kinh Nghiệm - Kiến Thức</h4>


					<!-- Posts
					============================================= -->
					<div id="oc-posts" class="owl-carousel posts-carousel carousel-widget posts-md" data-margin="20" data-nav="true" data-pagi="true" data-items-xs="2" data-items-xl="4">
						{% for post in site.categories.blog limit:6 %}
						<!-- ARTICLE NO. 1 -->
						<div class="col-md-12">
							<div class="entryy mb-1">
								<div class="entry-image mb-3">
									<a href="{{ site.url }}{{ post.url }}"><img src="{{ site.url }}{{ post.image }}" alt="{{ post.title }}" style="height:200px;"></a>
								</div>
								<div class="entry-title">
									<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
								</div>
								<div class="entry-content">
									<p>{{ post.content | strip_html | truncatewords: 30 }}</p>
								</div>
								<div class="entry-meta no-separator nohover">
									<ul class="justify-content-between mx-0">
										<li><i class="bi-calendar3"></i> {{ post.date | date_to_string }}</li>
										<li>{{ post.category }}</li>
									</ul>
								</div>
								<div class="entry-meta no-separator hover">
									<ul class="mx-0">
										<li><a href="{{ site.url }}{{ post.url }}">Xem thêm &rarr;</a></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- END ARTICLE NO. 1 -->
						{% endfor %}

						</div>
					</div>

				</div>

	