                    <!-- Portfolio Single - Share
                    ============================================= -->
                    <div class="card mt-6 pt-4 border-0 border-top rounded-0 border-default">
                        <div class="card-body p-0">
                            <div class="d-flex align-items-center justify-content-between">
                                <h6 class="fs-6 fw-semibold mb-0">Chia sẻ:</h6>
                                <div class="d-flex">
                                    <a href="#" class="social-icon si-small text-white border-transparent rounded-circle bg-facebook" title="Facebook">
                                        <i class="fa-brands fa-facebook-f"></i>
                                        <i class="fa-brands fa-facebook-f"></i>
                                    </a>
                                    <a href="#" class="social-icon si-small text-white border-transparent rounded-circle bg-twitter" title="Twitter">
                                        <i class="fa-brands fa-twitter"></i>
                                        <i class="fa-brands fa-twitter"></i>
                                    </a>
                                    <a href="#" class="social-icon si-small text-white border-transparent rounded-circle bg-pinterest" title="Pinterest">
                                        <i class="fa-brands fa-pinterest-p"></i>
                                        <i class="fa-brands fa-pinterest-p"></i>
                                    </a>
                                    <a href="#" class="social-icon si-small text-white border-transparent rounded-circle bg-whatsapp" title="Whatsapp">
                                        <i class="fa-brands fa-whatsapp"></i>
                                        <i class="fa-brands fa-whatsapp"></i>
                                    </a>
                                    <a href="#" class="social-icon si-small text-white border-transparent rounded-circle bg-rss" title="RSS">
                                        <i class="fa-solid fa-rss"></i>
                                        <i class="fa-solid fa-rss"></i>
                                    </a>
                                    <a href="#" class="social-icon si-small text-white border-transparent rounded-circle bg-email3 me-0" title="Mail">
                                        <i class="fa-solid fa-envelope"></i>
                                        <i class="fa-solid fa-envelope"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Portfolio Single - Share End -->