		<section id="slider" class="slider-parallax swiper_wrapper full-screen clearfix" data-effect="fade" data-autoplay="4500" data-speed="650" data-loop="true" data-progress="true">

			<div class="slider-parallax-inner">

				<div class="swiper-container swiper-parent">
					<div class="swiper-wrapper">
						<div class="swiper-slide dark" style="background-image: url('{{ site.url }}/images/products/tra-ngu-ngon-binh-chi/slider/tra-ngu-ngon-binh-chi-1.jpg');">
							<div class="container clearfix">
								<div class="slider-caption slider-caption-center">
									<h2 data-caption-animate="fadeInUp">Trà Ngủ Ngon<br>
									Bình Chi</h2>
									<p data-caption-animate="fadeInUp" data-caption-delay="200">Bình Yên Trong Từng Giấc Ngủ</p>
								</div>
							</div>
						</div>
						<div class="swiper-slide dark" style="background-image: url('{{ site.url }}/images/products/tra-ngu-ngon-binh-chi/slider/tra-ngu-ngon-binh-chi-2.jpg');">
							<div class="container clearfix">
								<div class="slider-caption slider-caption-center">
									<h2 data-caption-animate="fadeInUp" style="color: #000">Trà Ngủ Ngon</h2>
									<p data-caption-animate="fadeInUp" data-caption-delay="200" style="color: #000">Giấc Ngủ Sâu - Ngủ Sâu Giấc</p>
								</div>
							</div>
						</div>
						<div class="swiper-slide" style="background-image: url('{{ site.url }}/images/products/tra-ngu-ngon-binh-chi/slider/tra-ngu-ngon-binh-chi-4.jpg'); background-position: center top;">
							<div class="container clearfix">
								<div class="slider-caption">
									<h2 data-caption-animate="fadeInUp">Trà Ngủ Ngon</h2>
									<p data-caption-animate="fadeInUp" data-caption-delay="200">Xua tan hồi hộp - Lo âu</p>
								</div>
							</div>
						</div>
						<div class="swiper-slide" style="background-image: url('{{ site.url }}/images/products/tra-ngu-ngon-binh-chi/slider/tra-ngu-ngon-binh-chi-3.jpg'); background-position: center top;">
							<div class="container clearfix">
								<div class="slider-caption slider-caption-center">
									<h2 data-caption-animate="fadeInUp">Trà Ngủ Ngon<br>
									Bình Chi</h2>
									<p data-caption-animate="fadeInUp" data-caption-delay="200">Điều trị suy nhược thần kinh</p>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</section>