		<!-- Footer
		============================================= -->
		<footer id="footer" class="dark">
			<div class="container">

				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap">

					<div class="row">
						<div class="col-lg-9">
							<div class="widget">
 
								<img s src="{{ site.url }}/images/logo_angiabinh_250x250_white.png" alt="Image" class="alignleft" style="margin-top: 8px; padding-right: 18px; border-right: 1px solid #4A4A4A;width: 6%;">

								<p>Bê Tông An Gia Bình không chỉ cung cấp sản phẩm chất lượng - chúng tôi xây dựng niềm tin, tạo nên giá trị bền vững cho khách hàng và cộng đồng, đồng hành cùng mọi công trình trên hành trình vươn tới thành công.</p>

								<div class="line" style="margin: 30px 0;"></div>

								<div class="row col-mb-30">
									<div class="col-lg-3 col-6 widget_links">
										<ul>
											<li><a href="#">Home</a></li>
											<li><a href="#">About</a></li>
											<li><a href="#">FAQs</a></li>
											<li><a href="#">Support</a></li>
											<li><a href="#">Contact</a></li>
										</ul>
									</div>

									<div class="col-lg-3 col-6 widget_links">
										<ul>
											<li><a href="#">Shop</a></li>
											<li><a href="#">Portfolio</a></li>
											<li><a href="#">Blog</a></li>
											<li><a href="#">Events</a></li>
											<li><a href="#">Forums</a></li>
										</ul>
									</div>

									<!--div class="col-lg-6 col-6 widget_links">
										<ul>
											<li><a href="#">Corporate</a></li>
											<li><a href="#">Agency</a></li>
											<li><a href="#">eCommerce</a></li>
											<li><a href="#">Personal</a></li>
											<li><a href="#">One Page</a></li>
										</ul>
									</div-->

									<div class="col-lg-6 col-6 widget_links">
			
										<h4>Bài viết mới nhất</h4>
			
										<div class="row">
											{% for post in site.categories.tin-tuc limit:3 %}
			    							    <div class="ipost clearfix">
			    							        <div class="entry-title">
			    							            <ul>
			    							            	<li><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
			    							            </ul>
			    							        </div>
			    							    </div>
			    							{% endfor %}
										</div>
			
									</div>
								</div>

							</div>
						</div>

						<div class="col-lg-3 mt-5 mt-lg-0">
							<div class="widget">

								<div class="row col-mb-30">
									<div class="col-12">
										<div class="footer-big-contacts">
											<span>HOTLINE:</span>
											097 8383 555
										</div>
									</div>

									<div class="col-12">
										<div class="footer-big-contacts">
											<span>Email:</span>
											angiabinh@gmail.com
										</div>
									</div>
								</div>

							</div>

							<div class="widget subscribe-widget">

								<div class="row col-mb-30">
									<div class="col-12 col-sm-6">
										<a href="#" class="social-icon bg-dark h-bg-facebook mb-0 me-3">
											<i class="fa-brands fa-facebook-f"></i>
											<i class="fa-brands fa-facebook-f"></i>
										</a>
										<a href="https://www.facebook.com/betongangiabinh/"><small class="d-block text-smaller"><strong>Like us</strong><br>on Facebook</small></a>
									</div>
									<div class="col-12 col-sm-6">
										<a href="#" class="social-icon bg-dark h-bg-rss mb-0 me-3">
											<i class="fa-solid fa-rss"></i>
											<i class="fa-solid fa-rss"></i>
										</a>
										<a href="#"><small class="d-block text-smaller"><strong>Subscribe</strong><br>to RSS Feeds</small></a>
									</div>
								</div>

							</div>
						</div>
					</div>

				</div><!-- .footer-widgets-wrap end -->
			</div>

			<!-- Copyrights
			============================================= -->
			<div id="copyrights">
				<div class="container">

					<div class="row justify-content-between col-mb-30">
						<div class="col-12 col-md-auto text-center text-md-start">
							Copyrights &copy; 2024 All Rights Reserved by An Gia Binh Inc.<br>
							<div class="copyright-links"><a href="{{ site.url }}/chinh-sach/">Điều khoản sử dụng</a> / <a href="{{ site.url }}/phap-ly/">Chính sách bảo mật</a></div>
						</div>

						<div class="col-12 col-md-auto text-center text-md-end">
							<div class="copyrights-menu copyright-links">
								<a href="#">Trang chủ</a>/<a href="#">Giới thiệu</a>/<a href="#">Đội ngũ</a>/<a href="#">Đối tác</a>/<a href="#">Trợ giúp</a>/<a href="#">Liên hệ</a>
							</div>
						</div>
					</div>

				</div>
			</div><!-- #copyrights end -->
		</footer><!-- #footer end -->