		<!-- Header
		============================================= -->
		<header id="header" class="header-size-sm" data-sticky-shrink="false">
			<div class="container">
				<div class="header-row">

					<!-- Logo
					============================================= -->
					<div id="logo" class="ms-auto ms-lg-0 me-lg-auto">
						<a href="{{ site.url }}">
							<img style="width: 50%;" class="logo-default" srcset="{{ site.url }}/images/logo_angiabinh_300x300.png, {{ site.url }}/images/logo_angiabinh_300x300.png 2x" src="{{ site.url }}/images/logo_angiabinh_300x300.png" alt="Bê tông An Gia Bình Logo">
						</a>
					</div><!-- #logo end -->

					<div class="header-misc d-none d-lg-flex">

						<ul class="header-extras">
							<li>
								<i class="i-plain bi-telephone m-0"></i>
								<div class="he-text">
									HOTLINE
									<span>0968 265 685</span>
								</div>
							</li>
							<li>
								<i class="i-plain bi-cursor m-0"></i>
								<div class="he-text">
									TRỤ SỞ
									<span>Khu Công Nghiệp Khánh Phú, Yên Khánh, Ninh Bình</span>
								</div>
							</li>
							<li>
								<i class="i-plain bi-envelope m-0"></i>
								<div class="he-text">
									NHẬN BÁO GIÁ QUA EMAIL
									<span><input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nhập email"></span>
								</div>
							</li>
						</ul>

					</div>

				</div>
			</div>

			<div id="header-wrap">
				<div class="container">
					<div class="header-row justify-content-between flex-row-reverse flex-lg-row justify-content-lg-center">

						<div class="header-misc">

							<!-- Top Search
							============================================= -->
							<div id="top-search" class="header-misc-icon">
								<a href="#" id="top-search-trigger"><i class="uil uil-search"></i><i class="bi-x-lg"></i></a>
							</div><!-- #top-search end -->

						</div>

						<div class="primary-menu-trigger">
							<button class="cnvs-hamburger" type="button" title="Open Mobile Menu">
								<span class="cnvs-hamburger-box"><span class="cnvs-hamburger-inner"></span></span>
							</button>
						</div>

						<!-- Primary Navigation
						============================================= -->
						<nav class="primary-menu with-arrows">

							<ul class="menu-container">
								<li class="menu-item current"><a class="menu-link" href="/"><div>Trang chủ</div></a></li>
								<li class="menu-item"><a class="menu-link" href="{{ site.url }}/about/"><div>Giới thiệu</div></a>
									<ul class="sub-menu-container">
										<li class="menu-item"><a class="menu-link" href="{{ site.url }}/about/thu-ngo/"><div>Thư ngỏ</div></a></li>
										<li class="menu-item"><a class="menu-link" href="{{ site.url }}/about#tamnhin"><div>Tầm nhìn</div></a></li>
										<li class="menu-item"><a class="menu-link" href="{{ site.url }}/about#sumenh"><div>Sứ mệnh</div></a></li>
										<li class="menu-item"><a class="menu-link" href="{{ site.url }}/about#giatri"><div>Giá trị cốt lõi</div></a></li>
										<li class="menu-item"><a class="menu-link" href="{{ site.url }}/about#doitac"><div>Đối tác chiến lược</div></a></li>
										
									</ul>
								</li>
								<li class="menu-item"><a class="menu-link" href="{{ site.url }}/dich-vu/"><div>Lĩnh vực hoạt động</div></a>
									<ul class="sub-menu-container">
										<li class="menu-item"><a class="menu-link" href="{{ site.url }}/be-tong-tuoi/"><div>Bê tông tươi</div></a>
											<ul class="sub-menu-container">
												<li class="menu-item"><a class="menu-link" href="{{ site.url }}/be-tong-tuoi/be-tong-thuong/"><div>Bê tông thường</div></a></li>
												<li class="menu-item"><a class="menu-link" href="{{ site.url }}/be-tong-tuoi/be-tong-chong-tham/"><div>Bê tông chống thấm</div></a></li>
												<li class="menu-item"><a class="menu-link" href="{{ site.url }}/be-tong-tuoi/be-tong-chat-luong-cao/"><div>Bê tông chất lượng cao</div></a></li>
												<li class="menu-item"><a class="menu-link" href="{{ site.url }}/be-tong-tuoi/be-tong-ninh-ket-cham/"><div>Bê tông ninh kết chậm</div></a></li>
											</ul>
										</li>										
										<li class="menu-item"><a class="menu-link" href="{{ site.url }}/be-tong-thuong-pham/"><div>Bê tông thương phẩm</div></a></li>
										<li class="menu-item"><a class="menu-link" href="{{ site.url }}/bom-be-tong/"><div>Bơm bê tông</div></a></li>
										<li class="menu-item"><a class="menu-link" href="{{ site.url }}/be-tong-sieu-nhe/"><div>Bê tông siêu nhẹ</div></a></li>
										<li class="menu-item"><a class="menu-link" href="{{ site.url }}/be-tong-nhua/"><div>Bê tông nhựa</div></a></li>
										<li class="menu-item"><a class="menu-link" href="{{ site.url }}/be-tong-khi-chung-ap/"><div>Bê tông khí chưng áp</div></a></li>		
									</ul>
								</li>	
								<li class="menu-item"><a class="menu-link" href="{{ site.url }}/du-an/"><div>Dự án</div></a>
								</li>
								<!--li class="menu-item"><a class="menu-link" href="{{ site.url }}/doi-tac-hop-tac/"><div>Nhà đầu tư</div></a></li-->
								<li class="menu-item"><a class="menu-link" href="{{ site.url }}/blog/"><div>Blog</div></a>
									<ul class="sub-menu-container">
										<li class="menu-item"><a class="menu-link" href="{{ site.url }}/blog/tin-tuc/"><div>Tin Tức</div></a></li>
										<li class="menu-item"><a class="menu-link" href="{{ site.url }}/blog/kinh-nghiem/"><div>Kinh Nghiệm</div></a></li>
										<li class="menu-item"><a class="menu-link" href="{{ site.url }}/blog/kien-thuc/"><div>Kiến Thức</div></a></li>
										
									</ul>
								</li>									
								<li class="menu-item"><a class="menu-link" href="{{ site.url }}/tuyen-dung/"><div>Tuyển dụng</div></a></li>
								<li class="menu-item"><a class="menu-link" href="{{ site.url }}/lien-he/"><div>Liên hệ</div></a></li>
							</ul>

						</nav><!-- #primary-menu end -->

						<form class="top-search-form" action="search.html" method="get">
							<input type="text" name="q" class="form-control" value="" placeholder="Bê tông tươi M400R28... " autocomplete="off">
						</form>

					</div>
				</div>
			</div>
			<div class="header-wrap-clone"></div>
		</header><!-- #header end -->


		<script type="application/ld+json">
		    {
		      "@context": "http://schema.org",
		      "@type": "Organization",
		      "url": "{{ site.url }}",
		      "logo": "{{ site.url }}/images/logo_angiabinh_300x300.png"
		    }
		</script>
		
		<script type="application/ld+json">
		    {
		      "@context" : "http://schema.org",
		      "@type" : "Organization",
		      "url" : "{{ site.url }}",
		      "contactPoint" : [{
		        "@type" : "ContactPoint",
		        "telephone" : "{{ site.phone }}",
		        "contactType" : "Customer service"
		      }]
		    }
		</script>
		
		<script type="application/ld+json">
		{
		  "@context" : "http://schema.org",
		  "@type" : "Organization",
		  "name" : "{{ site.name }}",
		  "url" : "{{ site.url }}",
		  "sameAs" : [
		    "https://www.facebook.com/betongangiabinh/",
		    
		  ]
		}
		</script>
		
		<script type="application/ld+json">
		{
		  "@context": "http://schema.org",
		  "@type": "WebSite",
		  "url": "{{ site.url }}",
		  "potentialAction": {
		    "@type": "SearchAction",
		    "target": "{{ site.url }}/search/?q={search_term_string}",
		    "query-input": "required name=search_term_string"
		  }
		}
		</script>
		
		{% if(page.enable_map_on_serp) %}
		  <script type="application/ld+json">
		  {
		    "@context" : "http://schema.org",
		    "@type" : "WebSite",
		    "name" : "{{ page.product-name }}",
		    "alternateName" : "{{ page.h1-title }}",
		    "url" : "{{ site.url }}{{ page.url }}"
		  }
		  </script>
		
		{% else %}
		
		  <script type="application/ld+json">
		  {
		    "@context" : "http://schema.org",
		    "@type" : "WebSite",
		    "name" : "Bê Tông An Gia Bình",
		    "alternateName" : "{{ site.name }}",
		    "url" : "{{ site.url }}"
		  }
		  </script>
		
		{% endif %}		