<!DOCTYPE html> 
<html dir="ltr" lang="vi-VN">
<head>
  {% include head.html %}


</head>

<body class="stretched">

    {% include _after_body.html %}
    
    {% include fb_pixel_events.html %}

    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">

        {% include before_header.html %}

        {% include header.html %}
  
          {{ content }}
      
        {% include footer.html %}

      </div><!-- #wrapper end -->


  {% include script.html %}

  {% include footer_script.html %}


</body>
</html>


