<!DOCTYPE html> 
<html dir="ltr" lang="vi-VN">
<head>
	{% include head.html %}

	<style>
		.slider-caption-bg {
			left: 20px;
			bottom: 20px;
		}
	</style>
</head>

<body class="stretched">

	{% include _after_body.html %}
	
	{% include fb_pixel_events.html %}

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		{% include before_header.html %}

		{% include header.html %}

		<!-- Page Title
		============================================= -->
		<section class="page-title page-title-center bg-transparent">
			<div class="container">
				<div class="page-title-row">

					<div class="page-title-content">
						<h1>{{ page.title }}</h1>
						<span>{{ page.description }}</span>
					</div>

					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="{{ site.url }}">Trang chủ</a></li>
							<li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
						</ol>
					</nav>

				</div>
			</div>
		</section><!-- .page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				{{ content }}

			</div>

		</section><!-- #content end -->

		{% include footer.html %}

	</div><!-- #wrapper end -->


	{% include script.html %}

</body>
</html>
