<!DOCTYPE html> 
<html dir="ltr" lang="vi-VN">
<head>
    {% include head.html %}
</head>

<body class="stretched">

    {% include _after_body.html %}
    
    {% include fb_pixel_events.html %}

    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">

        {% include before_header.html %}

        {% include header.html %}

		<!--section class="gmap vh-40 vh-md-60" data-address="Melbourne, Australia" data-maptype="ROADMAP" data-zoom="13" data-scrollwheel="false" data-markers='[{ address: "Melbourne, Australia", html: "<div class=\"p-2\" style=\"width: 300px;\"><h4 class=\"mb-2\">Hi! We are <span>Envato!</span></h4><p class=\"mb-0\" style=\"font-size:1rem;\">Our mission is to help people to <strong>earn</strong> and to <strong>learn</strong> online. We operate <strong>marketplaces</strong> where hundreds of thousands of people buy and sell digital goods every day.</p></div>", icon: { image: "demos/construction/images/marker.png", iconsize: [32, 39], iconanchor: [13,39] } }]'></section-->

        <div><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9085.978878800772!2d106.0246275321073!3d20.23479661748904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3136718e2e37d6a3%3A0x4b9a4b8605e45a8c!2zQsOqIHTDtG5nIEFuIEdpYSBCw6xuaA!5e1!3m2!1svi!2s!4v1715079616885!5m2!1svi!2s" width="600" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
        
        <!-- Content
        ============================================= -->
        <section id="content">

            <div class="content-wrap">

                {{ content }}

            </div>

        </section><!-- #content end -->

        {% include footer.html %}

    </div><!-- #wrapper end -->


    {% include script.html %}

</body>
</html>
