<!DOCTYPE html>
<html dir="ltr" lang="vi-VN">
<head>
	{% include head.html %}

</head>

<body class="stretched">

	{% include _after_body.html %}

	{% include fb_pixel_events.html %}

	{% include schema_blog_post.html %}

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		{% include header.html %}


		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap pt-5" style="overflow: visible;">

				<div class="container">
					<!-- Single Page Content
					============================================= -->
					<div class="single-post mb-0">

						<!-- Single Post
						============================================= -->
						<div class="entry">

							<div class="row justify-content-center text-center">
								<div class="col-lg-10">
									<!-- Entry Title
									============================================= -->
									<div class="entry-title">
										<div class="entry-categories"><a href="{{ site.url }}/blog/">{{ page.category }}</a></div>
										<h1>{{ page.title }}</h1>
									</div><!-- .entry-title end -->
									<div>
									<nav aria-label="breadcrumb row text-center">
										<ol class="breadcrumb" style="justify-content: center;">
											<li class="breadcrumb-item"><a href="{{ site.url }}">Trang Chủ</a></li>
											<li class="breadcrumb-item"><a href="{{ site.url }}/blog/">{{ page.category }}</a></li>
											<li class="breadcrumb-item active" aria-current="page"><a href="{{ post.url }}">{{ page.title }}</a></li>
										</ol>
									</nav>									
									</div>
								</div>
							</div>

							<!-- Entry Meta
							============================================= -->
							<div class="d-flex justify-content-center mt-2">
								<div class="entry-meta">
									<ul>
										<li style="font-style: italic;">Bài viết cập nhật vào <span class="date-today"><span class="divider-text"></span></span></li>
										<!--li>By <a href="#">SemiColonWeb</a></li-->
									</ul>
								</div>
							</div><!-- .entry-meta end -->

							<!-- Entry Image
							============================================= -->
							<div class="entry-image mt-5">
								<a href="{{ site.url }}{{ page.image }}" data-lightbox="image"><img class="rounded" src="{{ site.url }}{{ page.image }}" alt="{{ page.title }}"></a>
							</div><!-- .entry-image end -->

							<!-- Entry Content
							============================================= -->
							<div class="entry-content">

								<div class="row">

									<div class="col-lg-2 media-content" data-animate="fadeIn">
										<div class="entry-title text-start">
											<h4>All online Conferences to save your box, get Inspired and Stay Connected</h4>
										</div>
										<!-- Post Single - Share
										============================================= -->
										<div>
											<h5 class="mb-2">Chia sẻ bài viết:</h5>
											<div>
												<a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" class="social-icon si-small text-white border-transparent rounded-circle bg-facebook" title="Facebook">
													<i class="fa-brands fa-facebook-f"></i>
													<i class="fa-brands fa-facebook-f"></i>
												</a>

												<a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" class="social-icon si-small text-white border-transparent rounded-circle bg-twitter" title="Twitter">
													<i class="fa-brands fa-twitter"></i>
													<i class="fa-brands fa-twitter"></i>
												</a>

												<a href="#" class="social-icon si-small text-white border-transparent rounded-circle bg-pinterest" title="Pinterest">
													<i class="fa-brands fa-pinterest-p"></i>
													<i class="fa-brands fa-pinterest-p"></i>
												</a>

												<a href="mailto:" class="social-icon si-small text-white border-transparent rounded-circle bg-email3 me-0" title="Mail">
													<i class="fa-solid fa-envelope"></i>
													<i class="fa-solid fa-envelope"></i>
												</a>
											</div>
										</div><!-- Post Single - Share End -->
									</div>

									<div class="col-lg-1"></div>

									<div class="text-content col-lg-9">										
					
										{{ content }}


										<div class="line"></div>		
										<!-- Tag Cloud
										============================================= -->
					
										<!--strong>Tags Cloud:</strong-->
										
										<div class="tagcloud mb-3">
					            		  	{% for tag in page.tags %}
												<div class="tagcloud"><a href="{{ site.url }}/tim-kiem/?q={{ tag }}">{{ tag }}</a></div>
											{% endfor %}
				              			</div>
		
										<!-- .tagcloud end -->
										<div class="clear"></div>


										<p><strong><i>Nếu thấy bổ ích, đừng ngại:</i></strong></p>
					
										<div class="col_half">
 											<div class="fb-like" data-href="{{ post.url }}" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
 					
											<div class="fb-save" data-uri="{{ post.url }}" data-size="large"></div>
										</div>
										<div class="col_half col_last">
											<div class="rw-ui-container"></div>
										</div>
					
										<div class="clear"></div>															

										<div class="fancy-title title-dotted-border">
											<h4>Để lại bình luận</h4>
										</div>
										<div class="fb-comments" data-href="{{ post.url }}" data-numposts="5"></div>
					

									</div>
								</div>
							</div>
						</div><!-- .entry end -->

						<h3>BÀI VIẾT LIÊN QUAN</h3>
						<div class="row clearfix">
							{% include related_post.html %}
						</div>
						<!-- END related posts -->
	
						<div class="line"></div>
					
						{% include people_also_searched_for.html %}

					</div>
					<!-- Single Page Content -->
				</div>

			</div>

		</section><!-- #content end -->	

		{% include footer.html %}

	</div><!-- #wrapper end -->



{% include script.html %}



</body>
</html>
