<!DOCTYPE html>
<html dir="ltr" lang="vi-VN">
<head>
	{% include head.html %}

</head>

<body class="stretched">

	{% include _after_body.html %}

	{% include fb_pixel_events.html %}

	{% include schema_blog_post.html %}

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		{% include header.html %}

		<!-- Page Title
		============================================= -->
		<section class="page-title bg-transparent">
			<div class="container">
				<div class="page-title-row">

					<div class="page-title-content">
						<h1>{{ page.title }}</h1>
					</div>

					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="{{ site.url }}">Trang Chủ</a></li>
							<li class="breadcrumb-item"><a href="{{ site.url }}{{ page.category }}">Tin Tức</a></li>
							<li class="breadcrumb-item active" aria-current="page"><a href="{{ post.url }}">{{ page.title }}</a></li>
						</ol>
					</nav>

				</div>
			</div>
		</section><!-- .page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap">
				<div class="container">

					<div class="single-post mb-0">

						<!-- Single Post
						============================================= -->
						<div class="entry">

							<!-- Entry Image
							============================================= -->
							<div class="entry-image mb-5">
								<img src="{{ site.url }}{{ page.image }}" alt="{{ page.title }}">
							</div><!-- .entry-image end -->

							<!-- Entry Content
							============================================= -->
							<div class="entry-content mt-0">												
					
								{{ content }}


								<!-- Tag Cloud
								============================================= -->
			
								<!--strong>Tags Cloud:</strong-->
								
								<div class="tagcloud mb-5">
					              	{% for tag in page.tags %}
										<div class="tagcloud"><a href="{{ site.url }}/tim-kiem/?q={{ tag }}">{{ tag }}</a></div>
									{% endfor %}
				              	</div>

								<!-- .tagcloud end -->

								<!-- Post Single - Share
								============================================= -->
								<div class="card border-default my-4">
									<div class="card-body p-3">
										<div class="d-flex align-items-center justify-content-between">
											<h6 class="fs-6 fw-semibold mb-0">Chia sẻ bài viết này:</h6>
											<div class="d-flex">
												<a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" class="social-icon si-small text-white border-transparent rounded-circle bg-facebook" title="Facebook">
													<i class="fa-brands fa-facebook-f"></i>
													<i class="fa-brands fa-facebook-f"></i>
												</a>

												<a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" class="social-icon si-small text-white border-transparent rounded-circle bg-twitter" title="Twitter">
													<i class="fa-brands fa-twitter"></i>
													<i class="fa-brands fa-twitter"></i>
												</a>

												<a href="#" class="social-icon si-small text-white border-transparent rounded-circle bg-pinterest" title="Pinterest">
													<i class="fa-brands fa-pinterest-p"></i>
													<i class="fa-brands fa-pinterest-p"></i>
												</a>

												<a href="mailto:" class="social-icon si-small text-white border-transparent rounded-circle bg-email3 me-0" title="Mail">
													<i class="fa-solid fa-envelope"></i>
													<i class="fa-solid fa-envelope"></i>
												</a>
											</div>
										</div>
									</div>
								</div><!-- Post Single - Share End -->

							</div>
						</div><!-- .entry end -->

					<p><strong><i>Nếu thấy bổ ích, đừng ngại:</i></strong></p>

					<div class="col_half">
 						<div class="fb-like" data-href="{{ post.url }}" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
 
						<div class="fb-save" data-uri="{{ post.url }}" data-size="large"></div>
					</div>
					<div class="col_half col_last">
						<div class="rw-ui-container"></div>
					</div>

					

					<div class="fancy-title title-dotted-border">
						<h4>Để lại bình luận</h4>
					</div>
					<div class="fb-comments" data-href="{{ post.url }}" data-numposts="5"></div>


					<h4>BÀI VIẾT LIÊN QUAN</h4>
					<div class="row clearfix">
						{% include related_post.html %}
					</div>
					<!-- END related posts -->

					<div class="line"></div>

					{% include people_also_searched_for.html %}


				</div>

			</div>
			

		</section><!-- #content end -->

		{% include footer.html %}

	</div><!-- #wrapper end -->



{% include script.html %}



</body>
</html>
