<!DOCTYPE html> 
<html dir="ltr" lang="vi-VN">
<head>
    {% include head.html %}
</head>

<body class="stretched">

    {% include _after_body.html %}
    
    {% include fb_pixel_events.html %}

    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">

        {% include before_header.html %}

        {% include header.html %}

        <!-- Page Title
        ============================================= -->
        <section class="page-title page-title-center">
            <div class="container">
                <div class="page-title-row">

                    <div class="page-title-content">
                        <h1>{{ page.title }}</h1>
                        <span>{{ page.description }}</span>
                    </div>

                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ site.url }}">Trang chủ</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
                        </ol>
                    </nav>

                </div>
            </div>
        </section><!-- .page-title end -->
        
        <!-- Content
        ============================================= -->
        <section id="content">
            <div class="content-wrap">
                <div class="container">

                    <h2 class="text-center ls-1 mb-5">Dự Án Bê Tông An Gia Bình Triển Khai Hợp Tác</h2>

                    <div id="portfolio" class="portfolio row gutter-10">

                        {{ content }}

                    </div>
                </div>

            </div>

            <a href="demo-construction-projects.html" class="button button-3d border-bottom-0 button-full text-center fw-light font-primary mt-5 footer-stick" style="font-size: 26px;">
                <div class="container">
                    QUYẾT ĐỊNH CỦA BẠN - TRÁCH NHIỆM CỦA CHÚNG TÔI <strong>NHẬN BÁO GIÁ</strong> <i class="uil uil-angle-right-b" style="top:3px;"></i>
                </div>
            </a>            

        </section><!-- #content end -->

        {% include footer.html %}

    </div><!-- #wrapper end -->


    {% include script.html %}

</body>
</html>
