<!DOCTYPE html>
<html dir="ltr" lang="vi-VN">
<head>

	{% include landingpages/tra-que-ot/head.html %}

</head>

<body class="no-transition stretched sticky-responsive-menu">

{% include _after_body.html %}

{% include fb_pixel_events.html %}

{% include schema_product.html %}


	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		{% include landingpages/tra-que-ot/header.html %}

		{% include landingpages/tra-que-ot/slider.html %}
		
		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				{{ content }}

			</div>

		</section><!-- #content end -->

		{% include landingpages/tra-que-ot/footer.html %}

	</div><!-- #wrapper end -->


{% include script.html %}

{% include footer_script.html %}

</body>
</html>
 